* {
    font-family: cursive;
}

li > code {
    color: rgb(156, 30, 30);
    font-family: monospace;
}

.outlier code{
    color: green;
}

h1 {
    color: pink;
    font-family: sans-serif;
}

li {
    font-family: inherit;
}

/* li {
    background: black;
    color: white;
}

ol #lonely {
    background: white;
    color: black;
} */

li + li {
    background: black;
    color: white;
}

ol li{
    background: black;
    color: white;
}