body {
    font-family: 'Montserrat', sans-serif;
}

#product-overview {
    background: #046815;
}

h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.section-title {
    color: #ff1b68;
}

/* h1 {
    font-family: sans-serif;
} */