body {
    font-family: 'Montserrat', sans-serif;
}

#product-overview {
    background: #046815;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.section-title {
    color: #ff1b68;
    /* font-family: inherit; */
}

/* h1 {
    font-family: sans-serif;
} */